<h1>Editing membre</h1>

<% form_for(@membre) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :prenom %><br />
    <%= f.text_field :prenom %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @membre %> |
<%= link_to 'Back', membres_path %>
